div.explorers {
    margin: 15px;
    font-size: 14px;
}

div.explorers h2,h3 {
    color: #1d5aab;
}

div.explorers a:visited, a:link {
/*    margin-left: 20px;*/
    color: #045fab;
    text-decoration: none;
}

div.explorers a:hover {
/*    margin-left: 20px;*/
    color: #045fab;
    text-decoration: underline;
}

.explorers-2-column-left { 
    float: left; 
    width: 66%;
}
.explorers-2-column-right { 
    float: right; 
    width: 33%; 
}

.explorers-1-column{ width: 100%}


.explorers-indent {
    margin: 10px;
}

.explorers-2-equal-column-left { 
    float: left; 
    width: 49%;
}
.explorers-2-equal-column-right { 
    float: right; 
    width: 49%; 
}
