.paperStyleBot {
    float: 'left';
    margin-left: 10;
    margin-right: 30;
    padding: 3;
    text-align: 'center';
    font-size: '14px';
}
  
.paperStyleSelf {
    float: 'right';
    margin-left: 30;
    margin-right: 10;
    padding: 5;
    text-align: 'center';
    box-shadow: #00cefdbf 0px 10px 30px, rgba(0, 0, 0, 0.28) 0px 6px 10p;
    color: '#0083ea';
    font-size: '14px';
}
