div.ChatServer {
    margin: 15px;
    font-size: 14px;
}

div.ChatServer h2,h3 {
    color: #1d5aab;
}

div.ChatServer a:visited, a:link {
    margin-left: 0px;
    color: #045fab;
    text-decoration: none;
}

div.ChatServer a:hover {
    margin-left: 0px;
    color: #045fab;
    text-decoration: underline;
}

.ChatServer-2-column-left { 
    float: left; 
    width: 66%;
}
.ChatServer-2-column-right { 
    float: right; 
    width: 33%; 
}

.ChatServer-1-column{ width: 100%}
